@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}


@layer components{
    .header{
        @apply bg-light shadow-md relative
    }
    .branding{
        @apply md:flex items-center gap-12
    }
    .branding img{
        @apply w-[3rem]
    }
    .branding .header__navd{
        @apply hidden md:flex md:gap-10 
    }
    .branding .header__navd li a{
        @apply font-medium text-sm text-dark hover:text-berde
    }
    .header__action{
        @apply bg-light absolute top-[6.1rem] right-0 w-[0] h-[90vh] px-0 pt-0 overflow-hidden transition-all shadow-md md:static md:h-fit md:w-fit md:shadow-none
    }
    .header__action.open{
        @apply w-[80%] px-10 pt-10 transition-all
    }
    .header__action .header__navm{
        @apply border-b-gray-400 border-b-[2px] pb-5 flex flex-col gap-5 md:hidden
    }
    .header__action .header__navm li:hover a{
        @apply text-berde
    }
    .header__action .header__navm li a{
        @apply font-medium text-xl text-dark
    }
    .header__action .header__btn a{
        @apply flex gap-[1rem] items-center hover:text-berde
    }
    .header__action .header__btn{
        @apply pt-5 flex flex-col gap-3 md:flex-row-reverse
    }
    .header__action .header__kamote{
        @apply flex gap-5
    }
    .burgir__menu{
        @apply md:hidden
    }
    .burgir__menu span{
        @apply w-[1.5rem] h-[.2rem] bg-gray-700 block rounded-full transition-all
    }
    .burgir__menu span:nth-child(2){
        @apply my-1
    }
    .header__wrapper{
        @apply flex items-center justify-between
    }
    .burgir__menu.open span:first-child{
        @apply transform translate-y-[10px] rotate-[225deg] transition-all
    }
    .burgir__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .burgir__menu.open span:last-child{
        @apply transform translate-y-[-5px] rotate-[-225deg] transition-all
    }

    /* BANNER */

    .banner{
        @apply py-6
    }
    .banner__wrapper{
        @apply flex flex-col gap-6 
    }
    .banner__item{
        @apply mx-auto md:grid md:grid-cols-[_2fr,_2fr] 
        md:items-center md:max-w-[90rem] 
    }
    .banner__item:nth-child(even) img{
        @apply md:order-2
    }
    .banner__text{
        @apply text-center py-3 flex flex-col gap-6  
    }

    .banner__item:nth-child(odd) h2{
        @apply text-3xl font-semibold text-dark
        md:text-5xl md:max-w-[30rem] md:mx-auto
    }
    .banner__item:nth-child(odd) p{
        @apply text-2xl text-dark px-[2rem] max-w-[35rem] mx-auto md:text-[1.8rem]
    }

    .banner__item:nth-child(even) h2{
        @apply text-2xl font-semibold text-dark
        md:text-[1.7rem] md:max-w-[25rem] md:mx-auto
    }
    .banner__item:nth-child(even) p{
        @apply text-xl text-dark max-w-[25rem] mx-auto md:text-[1.7rem]
    }
    .banner__item:last-child h2,.banner__item:last-child p{
        @apply text-light
    }

    .banner__item:first-child{
        @apply bg-[#d5d0ea]
    }
    .banner__item:nth-child(2){
        @apply bg-[#f2f0eb]
    }
    .banner__item:nth-child(3){
        @apply bg-[#cee8c9]
    }
    .banner__item:nth-child(4){
        @apply bg-[#f5cac4]
    }
    .banner__item:nth-child(5){
        @apply bg-[#dbe6f2]
    }
    .banner__item:nth-child(6){
        @apply bg-[#d5d0ea]
    }
    .banner__item:nth-child(7){
        @apply bg-[#e99264]
    }
    .banner__item:last-child{
        @apply bg-[#006241]
    }


    /* LINKS */
    .links{
        @apply py-6 border-t-2
    }
    .links__item ul{
        @apply max-h-[0rem] overflow-hidden transition-all flex flex-col gap-6 md:max-h-[50rem] md:pt-6
    }
    .links__item ul.open{
        @apply max-h-[50rem] pt-6 transition-all
    }
    .links__item ul li a{
        @apply text-gray-500 hover:text-dark
    }
    .links__item h4{
        @apply flex items-center justify-between font-semibold hover:cursor-pointer
    }
    .links__wrapper{
        @apply grid grid-cols-1 gap-10 md:grid md:grid-cols-6
    }
    .links__item h4 i{
        @apply transition-all md:hidden
    }
    .links__item h4 i.open{
        @apply transform rotate-180 transition-all
    }

    /* FOOTER */
    .footer__wrapper {
        @apply border-t-2 py-6;
      }
      .footer__social {
        @apply flex gap-4;
      }
      .footer__social li a {
        @apply bg-dark text-light px-3 py-2 rounded-full;
      }
      .footer__social li:hover {
        @apply scale-[1.1];
      }
      .footer__links {
        @apply py-6 flex flex-col gap-3
        md:flex md:flex-row md:gap-0;
      }
      .footer__links li {
        @apply md:px-6 md:border-r-2;
      }
      .footer__links li:last-child {
        @apply md:border-r-0;
      }
      .footer p {
        @apply text-gray-500;
      }

      /* REWARDS BANNER */
      .rBanner{
        @apply bg-bituinBanner min-h-[600px] bg-cover bg-lberde bg-center bg-right-bottom flex  text-center
        md:bg-starBanner md:bg-left md:text-left md:items-center
    }

    /* COFFEE TAB */

    .coffee__nav{
        @apply bg-[#f1f8f5] pt-10
    }
    .coffee__nav h4{
        @apply text-2xl font-semibold text-center
    }
    .coffee__nav ul{
        @apply flex items-center justify-center mt-6
    }
    .coffee__nav ul li{
        @apply px-3 pb-3 border-b-4 border-transparent
    }
    .coffee__nav ul li.active{
        @apply border-b-4 border-berde
    }
    .coffee__nav ul li a{
        @apply text-lg font-semibold
    }
    .coffee__tab{
        @apply bg-[#d4e9e2] relative h-[500px] md:h-[250px]
    }
    .coffee__item{
        @apply absolute opacity-0 transition-all top-8 md:grid md:grid-cols-[_2fr,_2fr] md:max-w-[50rem] md:left-[25%]
    }
    .coffee__item.active{
        @apply opacity-100 transition-all
    }
    .coffee__text h5{
        @apply text-xl font-semibold text-center
    }
    .coffee__text p{
        @apply text-center
    }
    .coffee__text{
        @apply flex flex-col gap-4 mt-4
    }

    /* INSTRUCTIONS */
    .instructions__wrapper{
        @apply mt-[3rem] pb-[3rem]
    }
    .instructions__title h1{
        @apply text-xl font-semibold text-center
    }
    .instructions__title p{
        @apply text-center mt-[1rem]
    }
    .instructions__steps{
        @apply flex flex-row gap-[1.5rem] mt-8 md:grid md:place-items-center
    }
    .instructions__steps h1{
     @apply bg-transparent text-berde px-5 py-3 rounded-[100%] border-berde border-[2px] md:max-w-[50px] 
    }
    .instructions__content h3{
        @apply text-[1rem] font-medium md:text-center
    }
    .instructions__content p{
        @apply text-[0.9rem] font-normal md:text-center
    }
    .instructions__contents{
        @apply md:grid md:grid-cols-3 md:gap-6 
    }

    

}

@layer utilities{
    .btn{
        @apply inline-block py-[.5rem] px-[1rem] rounded-full border-transparent border-[1px] text-sm font-medium hover:scale-[0.9]
    }
    .btn.bg--dark{
        @apply bg-dark text-light;
    }
    .btn.bg--light{
        @apply bg-light text-dark border-dark border-[1px] hover:bg-zinc-200
    }
    .btn.bg--berde{
        @apply bg-berde text-light 
    }
}